.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/res/values/ids.xml

app/app-release.apk

app/google-services.json

app/app.iml

.idea/dictionaries/Tyler.xml

.idea/encodings.xml

.idea/gradle.xml

keys.json

keystore.properties
